<ion-header [translucent]="true" [class.dark-theme]="darkMode">
  <ion-toolbar>
    <ion-title>
      Monster Hunter World: Iceborne
    </ion-title>
    <ion-buttons slot="end">
      <ion-toggle [(ngModel)]="darkMode" (ionChange)="toggleDarkMode()">Dark Theme</ion-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [class.dark-theme]="darkMode">
  <div>
    <div id="container">
      <ion-title>
        Monster Hunter World: Iceborne
      </ion-title>
      <div><ion-button [routerLink]="'/monsters'" (click)="sendData(MonstersDataArray)">Monsters</ion-button></div>
      <div><ion-button [routerLink]="'/armor-sets'" (click)="sendData(ArmorDataArray)">Armor Sets</ion-button></div>
      <div><ion-button [routerLink]="'/charms'" (click)="sendData(CharmDataArray)">Charms</ion-button></div>
      <div><ion-button [routerLink]="'/weapons'" (click)="sendData(WeaponDataArray)">Weapons</ion-button></div>
      <div><ion-button [routerLink]="'/decos'" (click)="sendData(DecoDataArray)">Decorations</ion-button></div>
    </div>
  </div>

  <ng-template #loaderTemplate>
    <ion-spinner name="lines"></ion-spinner>
    <p>Loading...</p>
  </ng-template>
  
</ion-content>
